<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sportmgkit.My.MySettings.dataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\data.mdb"
            providerName="System.Data.OleDb" />
        <add name="Sportmgkit.My.MySettings.dcstring" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\dataa2.mdb"
            providerName="System.Data.OleDb" />
        <add name="Sportmgkit.My.MySettings.dbstring" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\dataa21.mdb"
            providerName="System.Data.OleDb" />
        <add name="Sportmgkit.My.MySettings.Setting" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database1.mdb"
            providerName="System.Data.OleDb" />
        <add name="Sportmgkit.My.MySettings.productsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\products.mdb"
            providerName="System.Data.OleDb" />
        <add name="Sportmgkit.My.MySettings.StockDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\StockDB.mdb"
            providerName="System.Data.OleDb" />
        <add name="Sportmgkit.My.MySettings.prodVbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\prodVb.mdb"
            providerName="System.Data.OleDb" />
        <add name="Sportmgkit.My.MySettings.prodVbConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\prodVb.mdb"
            providerName="System.Data.OleDb" />
        <add name="Sportmgkit.My.MySettings.Datagridconnection" connectionString="Data Source=WINDOWS-CT800DV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sportmgkit.My.MySettings.categoryitems" connectionString="Data Source=WINDOWS-CT800DV;Initial Catalog=ProgrammingDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>